<mat-toolbar color="primary">
    <span>Conagua API</span>
    <span class="spacer"></span>
</mat-toolbar>

<h2 style="text-align: center; padding-top: 20px;">Datos de API</h2>

<mat-progress-bar mode="indeterminate" *ngIf="!data" color="accent"></mat-progress-bar>

<mat-accordion *ngIf="data">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tarjetas de clima
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="height: 400px; overflow: auto;">
      <mat-grid-list [cols]="columns" rowHeight="300px" style="padding:10px" gutterSize="10px" (window:resize)="onResize()" >
        <ng-container *ngFor="let d of filtered" >
          <mat-grid-tile fxFlexAlign="stretch" class="container"> 
              <mat-card class="card mat-elevation-z8">
                <mat-card-header>
                  <mat-card-title>{{ d.nes }}</mat-card-title>
                  <mat-card-subtitle>{{ d.nmun }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div fxLayout="row">
                    <div class="temp" fxFlex="50">
                      <h3><b>{{ d.tmax }} &#8451;</b></h3>
                      <h3>{{ d.tmin }} &#8451;</h3>
                    </div>
                    <div class="outlook" fxFlex="50">
                      <img src="http://openweathermap.org/img/wn/02d@2x.png" />
                      <span>{{ d.desciel }} </span>
                    </div>
                </div>
                </mat-card-content>
               
              </mat-card>
            
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    
    </div>
   

  </mat-expansion-panel>
</mat-accordion>

<mat-card >
  <mat-card-header>
    <mat-form-field appearance="standard">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" mat-sort style="width: 100%; height: 400px; overflow: auto;">

      <ng-container matColumnDef="state">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Estado </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nes}} </mat-cell>
      </ng-container>

       <ng-container matColumnDef="municipality" mat-sort-header>
        <mat-header-cell mat-header-cell *matHeaderCellDef>Municipio </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.nmun }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="min">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Min </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tmin}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="max">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Max </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tmax}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="description" mat-sort-header>
        <mat-header-cell mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.desciel}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20" showFirstLastButtons></mat-paginator>
  </mat-card-content>
      
</mat-card>
  